* {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    /* background: rgb(32, 32, 32); */
}

body {
    margin: 0;
}

.swipe-days,
.short-week-days {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 0;
    list-style-type: none;
    /* color: white; */
}

.short-week-days .selected-short-day {
    color: blue;
}

.short-week-days li {
    color: red;
}

.task {
    display: flex;
    justify-content: space-between;
}

span {
    line-height: 24px;
}

.addTask {
    scale: 150%;
    margin-top: 15px;
    margin-left: 15px;
}
